li {
	font-family: 'Allerta', sans-serif;
}

h1, p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5em;
	color: #ff6600;
}

.orbit {
	height: 1500px;
	width: 1500px;
}

.off-canvas-wrap {
	height: 50px;
}

.photos img {
	display: block;
	width:200px;
	margin: 40px auto;
}

.photos p {
	text-align: center;
}

.sub-nav {
	margin: 80px auto;
}

body {
	background-color: #acdbce;
}

